@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="ExpenseTypes" asp-action="Index">ExpenseTypes</a><br>
    <a asp-controller="Users" asp-action="Index">Users</a><br>
    <a asp-controller="Expenses" asp-action="Index">Expense</a><br>
    <a asp-controller="BudgetPeriods" asp-action="Index">BudgetPeriods</a>
</div>
